.range-input-area {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: #404040;
    gap: 15px;
}


.range-input-area__input-area {
    position: relative;
    width: 206px;
    height: 15px;
}

.range-input-area__range-input {
    display: block;
    position: relative;
    appearance: none;
    background: none;
    height: 6px;
    width: 100%;
}


.range-input-area__range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: -16px;
    background-color: #404040;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-image: url('../../static/images/twemoji_neutral-face.svg');
}

.range-input-area__range-input_angry::-webkit-slider-thumb {
    background-image: url('../../static/images/twemoji_angry-face.svg');
}


.range-input-area__range-input_frowning::-webkit-slider-thumb {
    background-image: url('../../static/images/twemoji_slightly-frowning-face.svg');
}

.range-input-area__range-input_neutral::-webkit-slider-thumb {
    background-image: url('../../static/images/twemoji_neutral-face.svg');
}

.range-input-area__range-input_grinning::-webkit-slider-thumb {
    background-image: url('../../static/images/twemoji_grinning-face-with-big-eyes.svg');
}

.range-input-area__range-input_smiling::-webkit-slider-thumb {
    background-image: url('../../static/images/twemoji_slightly-smiling-face.svg');
}

.range-input-area__progress-wrapper {
    position: relative;
}


.range-input-area__range-point {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    border: 1px solid #DCDCDC;
}

.range-input-area__range-point_color-type_red {
    background-color: #F24E1E;
}

.range-input-area__range-point_color-type_orange {
    background-color: #FF8311;
}

.range-input-area__range-point_color-type_yellow {
    background-color: #FFC700;
}


.range-input-area__range-input-markers {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.range-input-area__range-input-markers option {
    position: relative;
    top: -8px;
    width: 10px;
    font-size: 0;
}

.progress {
    position: absolute;
    top: 0px;
    height: 6px;
    border-radius: 10px;
}

.track {
    width: 100%;
    position: absolute;
    height: 6px;
    border: 1px solid #DCDCDC;
    top: 0;
    left: 0;
}