.week-area {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 250px;
}

.week-area h2 {
    font-size: 32px;
    color: #343434;
    text-align: center;

}

.week-area__tasks-area {
    display: flex;
    flex-direction: column;
    gap: 25px;
}