.json-diff-page-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #201C29;
    background-color: #FAFAD2;
    max-height: 90%;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}



.json-compare {
    display: grid;
    padding: 15px;
    grid-template-columns: 100px auto;
    gap: 15px;
}


.json-compare__submit-button {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #808080;
    color: #FAFAD2;
    padding: 10px 0;
    grid-column-start: 2;
    cursor: pointer;
    text-transform: uppercase;
}

.json-compare__submit-button:hover {
    background-color: rgb(26, 26, 40);
    border-color: #434343;
}

.json-compare__textarea-input-area {
    display: flex;
    flex-direction: column;
}

.json-compare__textarea-input-area textarea {
    width: 100%;
}

.result {
    display: block;
    font-size: 14px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #201C29;
    color: #FAFAD2;

}

@media screen and (max-width: 600px) {
    .json-compare {
        grid-template-columns: 1fr;
    }

    .json-compare__submit-button {
        grid-column: auto;
    }
}