.log-in-page-wrapper {
    background-color: #FAFAD2;
    padding: 32px 32px;
    border-radius: 15px;
    border: 1px solid #201C29;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 50%;
}

.log-in-page-wrapper h2 {
    color: #201C29;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}

.form-area {
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 35px;
}

.form-area input {
    width: 100%;
    padding: 10px;
}

.form-area__input-label {
    margin-top: 10px;
    text-align: center;
}

.form-area__submit-button {
    grid-column-start: 2;
    background-color: #808080;
    border: 1px solid black;
    cursor: pointer;
    color: #FAFAD2;
    font-size: 16px;
}

.form-area__submit-button:disabled {
    background-color: #afafaf;
    cursor: default;
}